*{
  box-sizing: content-box;
}

body{
  background-color: lightgrey;
}
.container{
  width: 800px;
  height: 800px;
  display: grid;
  margin: 50px auto;
  border: 1px solid black;
  background: white;
}

.menu{
  margin: 20px auto;
  width: 300px;
}

.cell{
  border: 1px solid black;
}

.toggle-cell{
  background: black;
}
